<div class="input-group input-group-sm" style="width: 100%; padding-top: 1px">
  <span class="input-group-addon roundedLeft" id="basic-addon1" style="width: 100px">Fichier</span>
  <textarea class="message expressionAttr form-control ta_autosize" data-l1key="options" data-l2key="file" rows="1"
    style="resize:vertical;" data-cmd_id="#id#" data-uid="#uid#">#file#</textarea>
  <span class="input-group-btn">
    <button class="btn btn-default listEquipementInfo roundedRight" type="button" title="{{Sélectionner la commande}}"
      data-cmd_id="#id#" data-uid="#uid#" data-btnfor="file"><i class="fas fa-list-alt"></i></button>
  </span>
</div>

<div class="input-group input-group-sm" style="width: 100%; padding-top: 1px">
  <span class="input-group-addon roundedLeft" id="basic-addon1" style="width: 100px">Message</span>
  <textarea class="message expressionAttr form-control ta_autosize" data-l1key="options" data-l2key="message" rows="1"
    style="resize:vertical;" data-cmd_id="#id#" data-uid="#uid#">#message#</textarea>
  <span class="input-group-btn">
    <button class="btn btn-default listEquipementInfo roundedRight" type="button" title="{{Sélectionner la commande}}"
      data-cmd_id="#id#" data-uid="#uid#" data-btnfor="message"><i class="fas fa-list-alt"></i></button>
  </span>
</div>

<div class="input-group input-group-sm" style="width: 100%">
	<span class="input-group-addon roundedLeft" style="width: 100px">Destinataire</span>
          <select style="width: 300px; height: 35px" class="form-control expressionAttr ta_autosize" rows="1" data-l1key="options" data-l2key="number" data-cmd_id="#id#" data-uid="#uid#">#possibleNumbers#</select>
</div>

<script>
  $('.expressionAttr[data-l1key=options][data-l2key=number][data-uid=#uid#]').val("#number#").change(); // on sélectionne le numéro enregistré
  
  
  $('.listEquipementInfo[data-uid=#uid#]').on('click', function () {
    var l2key = $(this).attr('data-btnfor');
    if ('#message_cmd_subtype#' != '') {
      jeedom.cmd.getSelectModal({
        cmd: {
          type: '#message_cmd_type#',
          subType: '#message_cmd_subtype#'
        }
      }, function (result) {
        
        $('.expressionAttr[data-l1key=options][data-l2key='+l2key+'][data-uid=#uid#]').atCaret('insert', result
          .human);
      });
    } else {
      jeedom.cmd.getSelectModal({
        cmd: {
          type: '#message_cmd_type#'
        }
      }, function (result) {
        $('.expressionAttr[data-l1key=options][data-l2key='+l2key+'][data-uid=#uid#]').atCaret('insert', result
          .human);
      });
    }
  });
</script>